@charset "UTF-8";

/* Fonte usada no texto */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


:root {
    --fontDefault : Verdana, Geneva, Tahoma, sans-serif;
    --fontText : 'Cookie', cursive;
    --fontTitle : 'Dongle', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fontDefault);
    min-height: 100vh;
    background-color: rgba(41, 41, 173, 0.562);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 5vw;
}

header > p {
    padding-bottom: 40px;
    color: white;
}

header a, footer a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    color: rgb(41, 114, 41);
}

footer {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: black;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-size: 5vw;
    font-family: var(--fontText);
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 255, 0.404);
    display: inline-block;
}